/* Custom animista class I have made to compile a list of animations I can use as classes */

.slide-in-top {
    -webkit-animation: slide-in-top 1s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: slide-in-top 1s cubic-bezier(.23, 1.000, .32, 1.000) both
}

.slide-in-top-smaller {
    -webkit-animation: slide-in-top-smaller 1s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: slide-in-top-smaller 1s cubic-bezier(.23, 1.000, .32, 1.000) both
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1.000) both
}

.pulsate-bck {
    -webkit-animation: pulsate-bck 4s ease-in-out infinite both;
    animation: pulsate-bck 4s ease-in-out infinite both
}

@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes slide-in-top-smaller {
    0% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-in-top-smaller {
    0% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}